<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
</head>
<body>
<h1>계약 입력</h1>
<form>
    <p>입주자<input type="text" name="tenant"></p>
    <p>소재지<input type="text" name="address"></p>
    <p>보증금<input type="text" name="contract_deposit"></p>
    <p>월세<input type="text" name="contract_monthly"></p>
    <p>관리비<input type="text" name="management_fee"></p>
    <p>계약시작일<input type="text" name="start_date"></p>
    <p>계약종료일<input type="text" name="finish_date"></p>
    <p>메모<input type="text" name="contract_memo"></p>
    <input type="submit">
</form>

<hr>

<h4>목록보기</h4>
<table border="1">
    <thead>
    <td>입주자</td>
    <td>소재지</td>
    <td>보증금</td>
    <td>월세</td>
    <td>관리비</td>
    <td>계약시작일</td>
    <td>계약종료일</td>
    <td>메모</td>
    </thead>
</table>


</body>
</html>