<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Rent</title>
</head>
<body>
<h1>월세 입력</h1>
<form>
    <p>입주자<input type="text" name="tenant"></p>
    <p>입금자명<input type="text" name="depositor"></p>
    <p>입금일<input type="text" name="deposit_date"></p>
    <p>입금액<input type="text" name="deposit_amount"></p>
    <p>메모<input type="text" name="rent_memo"></p>
    <input type="submit">
</form>

<hr>

<h4>목록보기</h4>
<table border="1">
    <thead>
    <td>입주자</td>
    <td>입금자명</td>
    <td>입금일</td>
    <td>입금액</td>
    <td>메모</td>
    </thead>
</table>

</body>
</html>